{% extends "theme.html" %}
  {% block style %}
    <meta name="spam" content="MRMBZA60wg" />
    <meta name="spam" content="MoExjihOpR" />
  {% endblock style %}

  {% block content %}
  <main role="main">
<br><center><h1 style="font-family:Times New Roman;color:red">Select algorithm</h1></center><p align=center>Confused whether it's a Spam or not? Check it out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<center><h4>Following are the algorithms choose any one of them.</h4>
<input type="radio" id="algorithm 1" name="fav_language" value="algorithm 1">
  <label for="algorithm 1">algorithm 1 (for xyz)</label><br>
  <input type="radio" id="algorithm 2" name="fav_language" value="algorithm 2">
  <label for="algorithm 2">algorithm 2 (for abc)</label><br>
  <input type="radio" id="algorithm 3" name="fav_language" value="algorithm 3">
  <label for="algorithm 3">algorithm 3 (for def)</label>
  <br><br>
<center><input type="submit" value="Proceed to give input"></center>
    {% endblock content %}