{% extends "theme.html" %}
  {% block style %}
    <meta name="spam" content="MRMBZA60wg" />
    <meta name="spam" content="MoExjihOpR" />
  {% endblock style %}

  {% block content %}
  <form method="POST" action="email" class="main-form">
  {% csrf_token %}
  <main role="main">
  <div class="container my-5">
    <h3>Algorithm Selection</h3>
		<center>
        <div class="card">
            <div class="card-body">
                <div class="col-md-0">
				<h1 style="color:red">Algorithm for Email Spam</h1>
				<p align=center>Confused whether it's a Spam or not? Check it out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br>
				<h4>Following are the Algorithms available select any one of them.</h4><br>
				<a href="emailspam"><input type="button" class="btn btn-dark" id="email1" value="Algorithm 1" /></a><br><br>
				<a href="emailalgo2"><input type="button" class="btn btn-dark" id="email2" value="Algorithm 2" /></a><br><br>
				</div>
			</div>
		</div>
		</center>
   </div>
</form>
    {% endblock content %}